.login, .register, .logout {
  border-radius: 20px;
  margin-right: 10px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  &:hover {
    color: gray;
  }
}